<p id="notice"><%= notice %></p>
<p>
  <b>Date:</b>
  <%= @event.date.to_formatted_s(:short_ordinal) %>
</p>

<p>
	<% @activity = Activity.find(params[:id]) %>
  <b>Activity:</b>
  <%= @activity.title %>
  <%= image_tag @activity.image_url(:minithumb).to_s, :class => 'img-rounded' %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
