<div class="hero-unit-scaffold">

	<% @activity = Activity.find(params[:id]) %>
	<%= image_tag @activity.image_url(:thumb).to_s, :class => 'img-rounded showthumb' %>
	<p><br/></p>
	<h4> <%= @activity.title %></h4>

	<p><b>Location:</b> <%= @activity.location %></p>
	<p><b>Date:</b> <%= @event.date.to_formatted_s(:short_ordinal) %></p>
<p class="clearfloats"><br/></p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
