<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <% if f.object.image? %>
      <%= f.label :image%>
      <%= image_tag f.object.image_url(:thumb), :class => 'img-rounded'  %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    <% else %>
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    <% end %>
  </div>
  <div class="actions pushdown1">
    <%= f.submit 'Submit', class: "btn btn-medium btn-primary"  %>
  </div>
<% end %>
