<h3>Activities</h3>
<%= link_to 'New Activity', new_activity_path %>
<div class="hero-unit-scaffold">
<table>
  <tr>
    <th class="indexthumb"></th>
    <th class="indexfield">Title</th>
    <th class="indexfield">Location</th>
    <th class="indexaction"></th>
    <th class="indexaction"></th>
    <th class="indexaction"></th>
  </tr>

<% @activities.each do |activity| %>
  <tr class="record">
    <td><%= image_tag activity.image_url(:minithumb).to_s, :class => 'img-rounded' %></td>
    <td><%= activity.title %></td>
    <td><%= activity.location %></td>
    <td class="action"><%= link_to 'Show', activity %></td>
    <td class="action"><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td class="action"><%= link_to 'Delete', activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>